body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    margin-top: 50px;
    border: 10px solid violet;
    padding: 15px;
    border-radius: 10px;
    box-shadow:0 0 15px darkmagenta;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 150px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: blueviolet;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: darkmagenta;
}